<div class="ui grid three column contents">
	<div class="row">
		<div class="four wide computer column">

		</div>
		<div class="eight wide computer sixteen wide mobile column">
			<div class="ui attached message">
				<div class="header">
					<h1 class="ui header green">Welcome to our site!</h1>
				</div>
				<p>Fill out the form below to sign-in</p>
			</div>
			<form class="ui form attached fluid segment">
				<div class="field">
					<label>Username</label>
					<input placeholder="Username" type="text">
				</div>
				<div class="field">
					<label>Password</label>
					<input type="password">
				</div>
				<div class="inline field">
					<div class="ui checkbox">
						<input id="rememberme" type="checkbox">
						<label for="rememberme">Remember Me</label>
					</div>
				</div>
				<div class="ui blue submit button">Submit</div>
			</form>
			<div class="ui bottom attached warning message">
				<i class="icon help"></i>
				Not yet a Member? <a href="signup.html">Register here</a> instead. <a href="forgot-password.html">Forgot Password?</a>
			</div>
		</div>
		<div class="four wide computer column">

		</div>
	</div>
</div>