<!-- Sidebar Menu -->
<div class="ui sidebar vertical labeled icon menu">
    <a class="item" href="#">
        <i class="home icon"></i>
        Home
    </a>
    <a class="item" href="category-main.html">
        <i class="block layout icon"></i>
        Category
    </a>
    <a class="item" href="ad-detail.html">
        <i class="server icon"></i>
        Ad Detail
    </a>
    <a class="item" href="#">
        <i class="user icon"></i>
        Login/Register
    </a>
    <div class="item">
        <a class="ui primary button">Post Your Ad</a>
    </div>
</div>  

<div class="pusher">
    <div class="ui grid">
        <!-- Menu Computer View -->
        <div class="row computer only">
            <div class="ui menu large borderless fixed">
                <a class="item" href="#">Home</a>
                <a class="item" href="category-main.html">Category</a>
                <a class="item" href="ad-detail.html">Ad Detail</a>
                <div class="right menu">
                    <a class="item" [routerLink]="['Login']">
                        <i class="user icon"></i>
                        Login/Register
                    </a>    
                    <div class="item">
                        <a class="ui primary button">Post Your Ad</a>
                    </div>
                </div>
            </div>
        </div>

        <!-- Menu Mobile and Tablet View -->
        <div class="row mobile only tablet only">
            <div class="ui top fixed borderless large demo menu">
                <a class="item hamburger">
                    <i class="sidebar icon"></i>
                </a>
            </div>
        </div>
    </div>

    <div class="ui vertical masthead segment">
        <div class="ui container">
            <!-- Content -->
            <router-outlet></router-outlet>
        </div>
    </div>

    <!-- Footer -->
    <div class="ui black inverted vertical footer segment">
        <div class="ui center aligned container">
            <div class="ui stackable inverted grid">
                <div class="three wide column">
                    <h2 class="ui inverted header">Quick Links</h2>
                    <div class="ui inverted huge link list">
                        <a target="_blank" href="#" class="item">About Us</a>
                        <a target="_blank" href="#" class="item">Contact Us</a>
                        <a target="_blank" href="#" class="item">Privacy Policy</a>
                        <a target="_blank" href="#" class="item">Term and Conditions</a>
                    </div>
                </div>
                <div class="three wide column">
                    <h2 class="ui inverted header">Follow Us On</h2>
                    <div class="ui inverted massive link list">
                        <a class="item">
                            <i class="facebook square icon"></i>
                        </a>
                        <a class="item">
                            <i class="google plus square icon"></i>
                        </a>
                        <a class="item">
                            <i class="twitter square icon"></i>
                        </a>
                        <a class="item">
                            <i class="youtube square icon"></i>
                        </a>
                    </div>
                </div>
                <div class="seven wide right floated column">
                    <h2 class="ui inverted teal header">Help Preserve This Project</h2>
                    <p> Support for the continued development of Semantic UI comes directly from the community.</p>
                    <form target="_top" method="post" action="https://www.paypal.com/cgi-bin/webscr">
                        <input type="hidden" value="_s-xclick" name="cmd">
                        <input type="hidden" value="7ZAF2Q8DBZAQL" name="hosted_button_id">
                        <button class="ui large teal button" type="submit">Donate Today</button>
                    </form>
                </div>
            </div>
            <div class="ui inverted section divider"></div>
            <img class="ui centered mini image" src="semantic/dist/img/logo.png">
            <div class="ui horizontal inverted small divided link list">
                <a target="_blank" href="http://semantic-ui.mit-license.org/" class="item">Free &amp; Open Source (MIT)</a>
            </div>
        </div>
    </div>
</div>